<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theradcolor.kernel">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/linux"
        android:label="@string/app_name"
        android:roundIcon="@drawable/linux"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.cpuActivity"
            android:theme="@style/activityNoActionBar" />
        <activity
            android:name=".activities.gpuActivity"
            android:theme="@style/activityNoActionBar" />
        <activity
            android:name=".activities.OSLActivity"
            android:label="Open Source Licenses"
            android:theme="@style/faqs" />
        <activity
            android:name=".activities.KcalActivity"
            android:label="Display Color Calibration"
            android:parentActivityName=".KMActivity"
            android:theme="@style/activityNoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FAQsActivity"
            android:label="FAQs"
            android:theme="@style/faqs" />
        <activity
            android:name=".KMActivity"
            android:label="@string/app_name"
            android:theme="@style/rad" />
        <activity
            android:name=".activities.SpectrumActivity"
            android:label="@string/app_name"
            android:theme="@style/activityNoActionBar" />

        <service android:name=".services.GamingService" />
        <service android:name=".services.onBootService" />

        <receiver android:name=".receivers.BroadcastReceiver" /> <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <receiver
            android:name=".receivers.onBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>